<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: 'navbar-brand' do %>
    <span style="font-size: 2em; color: #FD1215; display: inline">
      <i class="fas fa-home"></i>
    </span>
  <% end %>
  <div class="page-title">
    <h1>Le Wagon's Happy Hour</h1>
  </div>
  <div class="nav-item">
    <span style="font-size: 2em; color: #FD1215; display: inline">
      <i class="fas fa-glass-martini-alt"></i>
    </span>
    <%= link_to 'Make a Cocktail!', new_cocktail_path %>
  </div>
</div>

