.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  object-fit: cover;
  height: 50px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #e0e0e0;
}

.nav-item a {
  color: #545454;
  transition: 0.3s;

  &:hover {
    text-decoration: none;
    color: #a70404;
  }
}

.page-title h1 {
  font-family: 'Rubik', sans-serif;
}
